# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\sys_kafeyin\sys_kafeyin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
